*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* General styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #005f73; /* You'll need to use a color picker on the original image to get this value */
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Logo styles */
.logo {
    font-size: 36px;
    font-weight: bold;
}

/* Navigation links styles */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: underline;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links a:focus {
    color: #93060b;
    text-decoration: underline;

}

/* Header content styles */
.header-content {
    background: url('NavBG2.avif') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 81px 40px;
}

.header-content h1 {
    display: flex;
    font-size: 60px; /* Adjust as needed */
    color: black;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 36px;
    color: #f4c3bf; /* Lighter color for the subtitle */
}


section {
    padding: 20px;
    margin: 20px 0;
}

#about {
    background-size: cover;
    color: #003366;
    display: flex;
}

#about h1 {
    color: #003366;
    padding-right: 20px;
    border-right: 20px;
}

.about-kyle p  {
    color: #003366;
    text-indent: 20px;
    margin-top: 10px;    /* Space above the paragraph */
    margin-bottom: 10px;  /* Space below the paragraph */
}

#work {
    color: #003366;
}

#work .work-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.work-item {
    margin: 10px;
    text-align: center;
}

.work-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.contact-section {
    display: flex; /* Use flexbox to lay out the two child divs side by side */
    align-items: center; /* Aligns items vertically in the center */
    background-color: #e6f6ff; /* Light blue background, adjust the color as needed */
    padding: 40px;
}

.contact-header {
    flex: 0; /* Gives the contact header a flex value to allow it to grow */
    border-right: 3px solid #003366; /* Adds the separating line */
    padding-right: 10px; /* Adds some space between the text and the line */
}

.contact-header h2 {
    color: #003366; /* Dark blue color, adjust as needed */
    text-align: right; /* Aligns the heading to the left */
}

.contact-info {
    list-style: none;
    display: flex;
    flex: wrap; /* Gives the contact info a flex value to allow it to grow */
    padding-left: 100px; /* Adds some space between the line and the contact info */
}

.contact-phone,
.contact-email,
.social-links a {
    color: #003366; /* Dark blue color, adjust as needed */
    text-decoration: none; /* Removes underline from links */
    margin-bottom: 10px; /* Spacing between contact info lines */
}

.social-links a {
    margin: 0 20px; /* Spacing between social links */
    padding-bottom: 2px; /* Space for the underline */
    border-bottom: 2px solid #003366; /* Creates the underline effect */
    display: inline-block; /* Allows the border-bottom to take effect correctly */
}

.social-links a:hover,
.social-links a:focus {
    color: #005f73; /* Slightly darker color for hover state, adjust as needed */
    border-bottom: 2px solid #005f73; /* Underline color changes on hover/focus */
}

footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 100;
    width: 100%;
}