*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6f6ff
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #003366; 
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Logo styles */
.logo {
    font-size: 36px;
    font-weight: bold;
}

/* Navigation links styles */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: underline;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links a:focus {
    color: #f4c3bf;
    text-decoration: underline;

}

/* Header content styles */
.header-content {
    background: url('NavBG2.avif') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 81px 40px;
}

.header-content h1 {
    display: flex;
    font-size: 60px; 
    color: black;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 36px;
    color: #f4c3bf; 
}


section {
    padding: 20px;
    margin: 20px 0;
}

#about {
    background-size: cover;
    color: #003366;
    display: flex;
}

#about h1 {
    color: #003366;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 20px;
    flex: 0; 
    border-right: 3px solid #003366; 
    padding-right: 20px; 
    text-align: right;
}

.about-kyle p  {
    color: #003366;
    padding-left: 50px;
    text-indent: 20px;
    margin-top: 10px;    
    margin-bottom: 10px; 
}

#work {
    display: flex; 
    align-items: center; 
    padding: 40px;
    margin-bottom: 0%;
    color: #003366;
}

.work-header {
    flex: 0; 
    padding-right: 30px; 
}

.work-header h1 {
    color: #003366;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 20px;
    flex: 0; 
    border-right: 3px solid #003366;
    padding-right: 20px; 
    text-align: right;
}

#work .work-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.work-item {
    margin: 10px;
    padding: 10px;
    background: url('NinjaH2.jpeg') no-repeat center center;
    background-size: cover;
    width: 750px;
    height: 750px;
    border-style: solid;
    border-width: 8px;
    border-radius: 0;
    border-color: #003366;
}

.work-items {
    background: url('WIP.jpeg') no-repeat center center;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    width: 350px;
    min-height: 150px; 
    border-style: solid;
    border-width: 8px;
    border-radius: 0;
    border-color: #003366;
}

.work-items h3, p {
    font-size: 18px;
    font-weight: bold;
}



#contact-section {
    display: flex; 
    align-items: center; 
    padding: 40px;
    margin-bottom: 0%;
}

.contact-header {
    flex: 0; 
    border-right: 3px solid #003366; 
    padding-right: 10px; 
}

.contact-header h1 {
    color: #003366; 
    text-align: right; 
}

.contact-info {
    list-style: none;
    display: flex;
    flex: wrap; 
    padding-left: 50px;
    
}

.contact-phone,
.contact-email,
.social-links a {
    color: #003366; 
    text-decoration: none;
    margin-bottom: 10px; 
}

.contact-phone,
.contact-email,
.social-links a {
    margin: 0 20px; 
    padding-bottom: 2px; 
    border-bottom: 2px solid #003366; 
    display: inline-block;
}

.social-links a:hover,
.social-links a:focus {
    color: #005f73; 
    border-bottom: 2px solid #005f73; 
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 100;
    width: 100%;
    margin: 0px;
}